<table class="m-table">
    <tbody class="m-table__body">
        <tr class="m-table__row">
            <td class="m-table__data m-table__data--align-right">36
            </td>
            <td class="m-table__data m-table__data--align-right ">
                96
                <a href="#" class="m-table__link">
                    <i class="arrow-up"></i>
                </a>
            </td>
            <td class="m-table__data">
                Must, Should, Don't Care: TCP Conformance in the Wild (arxiv.org)
                28 points by gbrown_ 1 hour ago | hide | discuss
            </td>
        </tr>
    </tbody>
</table>