.m-table {
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;

  &__row {
    background-color: #f6f6f0;

    &:nth-child(2n) {
      background-color: #e6e6e0;
    }
  }

  &__link {
    display: inline-block;
  }

  &__data {
    padding: 8px 5px;

    &--align-right {
      text-align: right;
    }

    &--align-center {
      text-align: center;
    }
  }

  &__dark-color {
    color: #828282;
  }

  &__light-color {
    color: #c9c9c9;
  }
}

.m-pagination {
  padding: 18px 18px 18px 75px;

  &__link {
    font-size: 12px;
    color: #ff6601;
    cursor: pointer;
  }

}
