<table class="m-table">
    <tbody class="m-table__body">
        <tr class="m-table__row" *ngFor="let post of posts.hits">
            <td class="m-table__data m-table__data--align-right">
                {{post?.num_comments}}
            </td>
            <td class="m-table__data m-table__data--align-right ">
                {{post?.points}}
                <a href="#" class="m-table__link">
                    <i class="arrow-up"></i>
                </a>
            </td>
            <td class="m-table__data">
                <span class="m-table__title">{{post?.title}}</span>
                <ng-container *ngIf="!!post?.url">
                    <span class="m-table__light-color">&nbsp;(&nbsp;</span>
                    <span class="m-table__dark-color">{{post?.url | shortdomain}}</span>
                    <span class="m-table__light-color">&nbsp;)&nbsp;</span>
                </ng-container>

                <span class="m-table__light-color">&nbsp;by&nbsp;</span>
                <span> {{post?.author}}</span> &nbsp;
                <span class="m-table__dark-color">{{post?.created_at | dateago}}</span> &nbsp;
                <span class="m-table__dark-color">[ &nbsp;</span><a>hide</a><span
                    class="m-table__dark-color">&nbsp;]</span>
            </td>
        </tr>
    </tbody>
</table>
<div class="m-pagination">
    <a class="m-pagination__link" (click)="loadMoreData()">More</a>
</div>